<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sp.attendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/GoogleAPIKey"/>

        <activity
            android:name=".ui.ATSLoginActivity"
            android:label="@string/title_login" />
        <activity
            android:name=".ui.CodeBroadcastActivity"
            android:label="@string/title_broadcast" />
        <activity
            android:name=".ui.CodeReceiveActivity"
            android:label="@string/title_receive" />
        <activity
            android:name=".ui.intro.SlideIntro"
            android:noHistory="true"
            android:theme="@style/Theme.Intro"/>
        <activity
            android:name=".ui.intro.SplashScreen"
            android:noHistory="true"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.nearby.connection.SERVICE_ID"
            android:value="@string/service_id" />

    </application>

</manifest>